.jokeContent {
  white-space: pre-line;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: center;
}

.header {
  text-align: center;
}

.item {
  padding: 5px;
  width: 200px;
  height: 150px;
  line-height: 150px;
  margin: 10px;
  vertical-align: middle;
}

.click {
  pointer-events: auto;
}

.noclick {
  pointer-events: none;
}
img {
  max-width: 200px;
  max-height: 150px;
  width:auto;
  height: auto;
}

@media (max-width: 425px) {
  .wrapper {
    justify-content: center;
  }
}
